@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title</h2>

<div class="col-md-4">
    <p align="justify">
        O programa Trainee de Informática deu início no ano de 2014,
        sendo ministrado pelo Professor Marcos Vilagra. Possui uma
        turma a cada semestre e auxilia no desenvolvimento e preparação
        de profissionais para a obra.
    </p>
</div>
<div class="col-md-6">
    <img src="~/Images/photo.jpg" width="200" height="200"/> 
</div>